*{margin: 0;
    padding: 0;}

    h1 {
    position: absolute;
    top: 30%;
    left: 23%;
    color: white;
    font-size: 150px;
    text-align: center;
    }

h3 {
    margin-top: 380px;
    position: relative;
    left: -40px;
    font-size: 40px;
    color: rgb(255, 255, 255);

}
    body{
        font-family: 'League Spartan', sans-serif, monospace;
    
    
    
        
    }
    
   body {
  margin: 0;
  font-family: 'League Spartan', sans-serif, monospace;
}

body {
  background-image: url("../imagenes/Montaña\ casa.avif.");
  background-size: cover; 
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.navbar {
  position: fixed;      
  top: 0;
  width: 100%;
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: space-between; /*separa el lado izquierdo y el centro*/

  padding: 0 10px; /* espacio a los costados */
  background-color: #fff;
}

.nav-left {
  position: absolute;
  left: 25px;
}


.nav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 30px;
}

.navbar a {
  color: rgb(38, 172, 26);
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  color: #ffffff71;
}


main {
    margin: 0 auto;
    max-width: 750px;   
    padding: 20px;
    color: white; 
    text-align: center;    
}

h2 {
    font-size: 36px;
    margin-bottom: 360px;
}

p {
    font-size: 18px;
    
}

.logo-main {
  position: relative;
  display: flex;
  align-items: left;
  justify-content: left; 
  top: 5px; 
  left:1%;
}

.logo-main img {
  width: 100px;
  height: auto;
}

.btn {
  display: inline-block;
  padding: 15px 50px;
  background-color: #26ac1a;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 100px;
  font-size: 36px;
  margin-left:-60px
}

.btn:hover {
  background-color: #1e8c15;
}