*{margin: 0;
    padding: 0;}

    h1 {
    position: absolute;
    top: 30%;
    left: 23%;
    color: white;
    font-size: 150px;
    text-align: center;
    }

h3 {
    margin-top: 380px;
    position: relative;
    left: -40px;
    font-size: 40px;
    color: rgb(255, 255, 255);

}

body {
  margin:0;
  background: url("../imagenes/paper.jpg");
  background-size: cover; 
  font-family: 'League Spartan', sans-serif, monospace;
}

.navbar {
  position: fixed;      
  top: 0;
  width: 100%;
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 10px; 
  background-color: #fff;
}

.nav-left {
  position: absolute;
  left: 25px;
}


.nav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 30px;
}

.navbar a {
  color: rgb(38, 172, 26);
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  color: #ffffff71;
}


main {
    margin: 0 auto;
    max-width: 750px;   
    padding: 0px;
    color: white; 
    text-align: center;    
}
p {
    font-size: 18px;
    
}

.logo-main {
  position: relative;
  display: flex;
  align-items: left;
  justify-content: left; 
  top: 5px; 
  left:1%;
}

.logo-main img {
  width: 100px;
  height: auto;
}

.hero {
  margin-top: 120px;
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.green-box {
  position: absolute; 
  bottom: 0px;    
  left: 50%;
  transform: translateX(-50%);

  width: 100%;

  background-color: rgba(19, 54, 16, 0.9);
  padding: 100px;
  text-align: center;
  border-radius: 10px;
}

.green-box h2 {
  margin: 10px;
  font-size:60px;
  color:white;
}

.green-box h3 {
  margin: 10px;
  font-size:20px;
}

.images-row {
  display: flex;
  justify-content: center; 
  align-items: flex-start;
  gap: 20px;
}

.image-container {
  position: relative;
  width: 440px; 
  overflow: hidden;
  border-radius: 50%;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
  transition: all 0.3s ease;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease;
}

.image-container:hover img {
  transform: scale(1.1);
  filter: brightness(70%);
}

.image-container:hover .overlay {
  opacity: 1;
}
.image-container .overlay p {
  text-align: center;        
  padding: 10px;             
  word-wrap: break-word;     
  max-width: 80%;            
  font-size: 18px;           
}